body {
  background-color: #1f1f1f;
  margin: 0;
  font-family: arial;
  text-align: center;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

.title_container {
  text-align: center;
  color: white;
}

.logoholder {
  position:absolute;
  background-color:#222222;
  width:300px;
  height:100%;
  max-height:100%;
}
.logoholder::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #222222;
  clip-path: polygon(45% 0, 50% 100%, 70% 0);
}

.brand-logo {
  transition: 0.4s filter ease-out;
}
.brand-logo:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.199));
}

.row img {
  width: auto;
  height: 300px;
}

.footer {
  margin-top: 30px;
  text-align: center;
}

.footer img {
  width: 80px;
  margin: 10px;
}

.project {
  display: inline-flex;
  margin: 150px;
  margin-bottom: 0;
  text-align: left;
  width: 60%;
  border: solid orange;
  padding: 30px;
}

.project-description {
  margin-top: 10px;
  color: white;
  font-size: 15pt;
  line-height: 1.5em;
}

.project-title {
  color: orange;
  font-size: 22pt;
  text-transform: uppercase;
}

.project-image {
  margin-left: 50px;
}

.project-image img {
  margin-bottom: 10px;
}

.officer-name {
  color: orange;
  font-size: 22pt;
  text-transform: uppercase;
}

.calendar {
  margin-top: 25px;
  margin-left: 75px;
  margin-right: 75px;
}

@media (max-width: 1200px) {
  .calendar {
    margin-left: 25px;
    margin-right: 25px;
  }
}