/* Palette
- #E27D60 Darker Orange
- #E8A87C Lighter Orange
- #84CDCA Lighter Blue
- #41B3A3 Aqua
- #C38D9E Pinkish
*/

/* Navigation Bar */
.navigation {
    /* Visuals */
    border-bottom-width: 5px;
    background-color: #E8A87C;
    border-bottom-color: #E27D60;
    border-bottom-style: solid;
    z-index: 1;

    /* Position */
    position: fixed;
    top: 0;
    left: 0;

    /* Size */
    width: 100vw;
}

/* Navigation Bar List */
.navigation ul {
    /* Visuals */
    list-style-type: none;
    
    /* Spacing */
    margin: 0;
    padding: 0;
}

/* Navigation Bar List Item */
.navigation li {
    /* Visuals */
    display: block;
    text-align: center;

    /* Position */
    float: left;
    
    /* Spacing */
    padding: 8px;
}

/* Navigation Bar Links */
.navigation a {
    /* Visuals */
    text-decoration: none;
}

/* Navigation Bar Borders */
.border {
    /* Visuals */
    border-left-color: #E27D60;
    border-left-style: solid;
    border-left-width: 3px;

    /* Position */
    top: 10%;
    bottom: 10%;
    position: absolute;

    /* Padding */
    padding-right: 3px;
}

/* Navigation Bar Heading */
.navigation h1 {
    /* Visuals */
    font-size: 5vh;
    font-family: 'Lobster';
    color: white;

    /* Spacing */
    margin: 0;
}

/* Navigation Bar Heading on Hover */
.navigation h1:hover {
    /* Visuals */
    background-color: #E27D60;
}

/* Body */
body {
    /* Visuals */
    background-color: #84CDCA;
}