/* Website Palette
- #E27D60 Darker Orange
- #E8A87C Lighter Orange
- #84CDCA Lighter Blue
- #41B3A3 Aqua
- #C38D9E Pinkish
*/

/* Auburn Palette
- #000080 Navy Blue
- #CC5500 Burnt Orange
*/

/* Body */
body {
    /* Visuals */
    background-color: #84CDCA;
    text-align: center;
    font-family: 'Roboto';
    /* Spacing */
    margin: 0;
}

/* Title Section */
.title-section {
    /* Visuals */
    background-image: url(images/Auburn.jpg);
    background-repeat: no-repeat;

    /* Size */
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

/* Title section header */
.title-section h1 {
    /* Visuals */
    color: #000080;
    font-size: 75px;
    background-color: #CC5500;
    border-radius: 15px;
    border-color: black;
    border: solid;
    border-width: 10px;

    /* Position */
    top: 50%;
    left: 50%;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);

    /* Spacing */
    margin: 0;
    padding: 15px;
}